---
layout: base
permalink: /practicas/
---

<article class="practica">

  Listado de prácticas para primaria
  <ul>
      {% for practica in site.primaria %}
        <li>
          <a href="{{ practica.url }}">{{ practica.title }}</a> 
        </li>
      {% endfor %}
  </ul>

  Listado de prácticas para secundaria
  <ul>
      {% for practica in site.secundaria %}
        <li>
          <a href="{{ practica.url }}">{{ practica.title }}</a> 
        </li>
      {% endfor %}
  </ul>

</article>
