// Base styles
// ---------------------------------------/
/*
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: $white;
}

body{
    @include serif;
    color: $text_color;
    font-size: 16px;
    line-height: 1.5;
}
*/