input::-ms-clear,
input::-ms-reveal {
	display: none !important;
}

#forkongithub a{background:#000;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:16px;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:$brand-colour;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}

img.align-center { display: block; margin: 0 auto; }
h1.align-center { font-size: 40px; font-weight: normal; text-align: center; }

img { max-width: 100%; }

body {
	height: auto;
	overflow-x: hidden;
	background-color: $body-background-color;

	&.nav-open {
		overflow: hidden;

		nav {
			display: block;
		}

		header {
			bottom: 0;
		}
	}

	&::before {
		content: "";
		background-color: $content-background-color;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	@media (min-width: $mobile-break) {
		padding: 0 0 0 $nav-width;

		&.nav-open {
			overflow: auto;
		}

		&::after,
		&::before {
			content: "";
			position: fixed;
			top: 0;
			bottom: 0;
			z-index: -1;
		}

		&::after {
			left: 0;
			width: $nav-width;
			background-color: $nav-background-color;
		}

		#search-input,
		&::after {
			box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
		}

		&::before {
			left: $nav-width;
			right: 0;
			background-color: $content-background-color;
		}
	}
}

.main {
	margin-top: $space + $nav-header-height;

	@media (min-width: $mobile-break) {
		margin-top: 0;
	}
}

header {
	$emblem-size: 35px;
	$emblem-vertical-padding: ($nav-header-height - $emblem-size) / 2;
	$emblem-horizontal-padding: $space;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	background-color: $nav-background-color;

	ul {
		padding: 0;
		margin: 0;
	}

	h1 {
		padding: $emblem-vertical-padding $emblem-horizontal-padding;
		height: $nav-header-height;
		box-sizing: border-box;
		color: $brand-colour;
		margin: 0;
		font-size: 1.7rem;
		line-height: 0.8;
		letter-spacing: 0;
		font-weight: 600;
		text-indent: 0;
		@include display-flex();
		@include flex-direction(row);
		@include align-items(center);
		border-bottom: 1px solid rgba(0, 0, 0, 0.075);

		img {
			height: $emblem-size;
			width: $emblem-size;
			margin-right: $space - 5;
		}
	}

	.open-nav {
		background-repeat: no-repeat;
		background-size: 100%;
		width: $emblem-size;
		height: $emblem-size;
		border: 0;
		position: absolute;
		top: $emblem-vertical-padding;
		right: $emblem-horizontal-padding;
		border-radius: 2px;

		&:focus {
			outline: none;
			background-color: rgba(0, 0, 0, 0.05);
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	@media (min-width: $mobile-break) {
		background-color: transparent;
		width: $nav-width;
		right: auto;
		bottom: auto;

		.open-nav {
			display: none;
		}

		h1 {
			box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
		}
	}
}

.content {
	position: relative;
	background-color: $content-background-color;
	color: $content-color;

	h3::before {
		content: "";
		@extend hr;
		margin: 60px 0;
	}
}

.content,
.page-header {
	max-width: $content-max-width;
	padding: 0 ($space + 5) $space;
	margin: $space auto 0 auto;
}

.page-header {
	h2,
	h3 {
		margin: 0;
		line-height: 1.2;
		letter-spacing: -1px;
	}

	h2 {
		font-size: 2rem;
		margin-left: -1px;
		color: #888;
		letter-spacing: 0;
	}

	h3 {
		font-size: 4rem;
		margin-left: -4px;
	}

	@media (min-width: $mobile-break) {
		h2 {
			font-size: 2.65rem;
		}

		h3 {
			font-size: 5.4rem;
		}
	}

	@media (min-width: $full-width-break) {
		margin-top: 55px;
	}
}

nav {
	display: none;

	@media (min-width: $mobile-break) {
		display: block;
	}
}

nav > ul {
	padding: $space / 2 0;

	& + ul {
		border-top: 1px solid rgba(0, 0, 0, 0.075);
	}
}

.nav-item {
	display: block;
	font-family: "Open Sans", sans-serif;
	line-height: 1;
	margin: 0;

	nav:not(.full-navigation) & > ul {
		display: none;
	}

	nav:not(.full-navigation) &.current > ul {
		display: block;
	}

	> a {
		color: #666;
		text-decoration: none;
		font-size: 1.4rem;
		padding: $space / 2 0 $space / 2 $space * 2;
		display: block;
	}

	&.current > a,
	> a:active,
	> a:hover {
		color: #111;
	}

	&.top-level > a {
		line-height: 1.5;
		font-weight: 600;
		padding-left: $space;
	}
}


blockquote {
	border-left: 5px solid #FD0;
	padding: 10px 15px;
	margin-left: -15px;
	margin-right: -10px;
	background-color: $brand-colour-light;
	border-color: $brand-colour;

	span {
		font-weight: bold;
	}
	
	p:last-child {
		margin-bottom: 0;
	}

	ul {
		margin-bottom: 0;
	}

	@media (max-width: $full-width-break) {
		margin-left: 0;
		margin-right: 0;
	}
}

.practica {
	blockquote {
		margin: 0 0 90px;
	}
	h2 {
		margin: 90px 0 0;
	}
}

footer { 
	margin: 90px 0 0;
	padding: 20px;
	background: #3D3D3D;
	color: #fff;
	font-size: 14px; 
	text-align: center; 
	p {
		margin: 0;
		padding: 0;
	}
	a {
		color: #fff;
		&:hover {
			color: #ccc;
		}
	}
}