body {
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  color: #2d2d2d;
  a {
    color: #2d2d2d;
    text-decoration: none;
    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
}