<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
</head>
<body>
    <span id="forkongithub"><a target="_blank" href="https://github.com/ElCableAmarillo/elcableamarillo.github.io">Fork me on GitHub</a></span>

    <header>
        <h1>
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" width="40" height="40" alt="{{ site.title }} logo"></a>
            {{ site.title }}
            <button type="button" class="open-nav" id="open-nav">
                <span class="fas fa-bars"></span>
            </button>
        </h1>

        <nav class="full-navigation">
            <ul>
                {% assign grouped = site.practicas | group_by: 'nivel'  %}
                {% for group in grouped %}
                <li class="nav-item top-level {% if group.name contains page.nivel %}current{% endif %}">
                        {% assign items = group.items %}
                        <a href="{{ site.baseurl }}{{ items.first.url }}">Nivel {{ group.name }}</a>
                        <ul>
                            {% for item in items %}
                            <li class="nav-item {% if item.url == page.url %}current{% endif %}">
                                    <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <section class="main">

        <article class="content">
            {{ content }}
        </article>
</section>

<script>
        document.getElementById("open-nav").addEventListener("click", function () {
            document.body.classList.toggle("nav-open");
        });
    </script>
    
</body>
</html>