<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <span id="forkongithub"><a target="_blank" href="https://github.com/ProgramoErgoSum/Practicas-Educativas-con-Arduino">Fork me on GitHub</a></span>
    <img src="images/logo.png">
    <div class="home">
        <h2>Proyecto educativo de código abierto para fomentar el uso de la <strong>programación y robótica</strong> en los centros educativos.</h2>
        <a target="_blank" href="https://programoergosum.gitbooks.io/practicas-educativas-con-arduino/content/" class="btn btn-outline">Libro de prácticas online</a>
    </div>
</body>
</html>